@model ProductViewModel
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
    <h3 class="m-4 text-center">Ürün Düzenle</h3>

    <form asp-controller="Admin" asp-action="EditProduct" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 col-sm-2">
                    <input type="hidden" name="ProductID" value="@Model.ProductID" />
                    <div class="form-group-row">
                        <label asp-for="ProductName" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductName" value="@Model.ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label asp-for="ImageURL" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ImageURL" value="@Model.ImageURL" class="form-control" />
                            <span asp-validation-for="ImageURL" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label asp-for="ProductDescription" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="ProductDescription" value="@Model.ProductDescription" class="form-control" rows="5" id="editor"></textarea>
                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-row">
                        <label asp-for="ProductPrice" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ProductPrice" value="@Model.ProductPrice" class="form-control" />
                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group-row ">
                        <div class="col-md-10 mt-3">
                            <button class="btn btn-secondary active" type="submit" value="Save Product">Kaydet</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @foreach (var category in (List<Category>)ViewBag.Categories)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="categoryIDs" value="@category.CategoryID" id="category@(category.CategoryID)" @(Model.SelectedCategories.Any(a => a.CategoryID == category.CategoryID) ? "checked" : "")>
                            <label class="form-check-label" for="category@(category.CategoryID)">@category.CategoryName</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>
