@model IndexViewModels
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h3 class="m-4 text-center">Sistemdeki Ürünler</h3>


@if (Model.Products.Count() > 0)
{
    <div class="d-flex justify-content-center my-3">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateProduct">Yeni Ürün Ekle</a>
    </div>

    <table class="table table-responsive">
        <thead>
            <tr>
                <td class="fw-bold bg-light text-center">ID</td>
                <td class="fw-bold bg-light text-center">Ürün Adı</td>
                <td class="fw-bold bg-light text-center">Satış Fiyatı</td>
                <td class="fw-bold bg-light text-center">Ürün Resmi</td>
                <td class="fw-bold bg-light text-center">İşlemler</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td class="text-center align-middle">@product.ProductID</td>
                    <td class="text-center align-middle">@product.ProductName</td>
                    <td class="text-center align-middle">@product.ProductPrice <i class="fa-solid fa-turkish-lira-sign"></i></td>
                    <td class="text-center align-middle">
                        <img src="~/Bisum/assets/img/products/hills/@product.ImageURL" width="80" />
                    </td>
                    <td class="text-center align-middle">
                        <a class="btn btn-secondary active me-2" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.ProductID">Düzenle</a>

                        <form asp-controller="Admin" asp-action="DeleteProduct" method="post" style="display:inline;">
                            <input type="hidden" name="productID" value="@product.ProductID" />
                            <button type="submit" class="btn btn-secondary active" onclick="return confirmDelete();">Sil</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
        <tr>
            <td></td>
        </tr>
    </table>
}
else
{
    <div class="alert alert-warning mt-5">
        <h4>Ürün Bulunmuyor</h4>
    </div>
}
</div>


